.profile-container {
  margin-left: 15%;
  background: whitesmoke;
  padding-left: 5%;
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  padding-top: 2rem;
  .profile-box {
    .account-info {
      padding-bottom: 1rem;
      h1 {
        font-size: 3rem;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
  .form-box-input {
    padding-top: 2rem;
    padding-left: 15%;
    .form-box-input-box {
      display: flex;
      flex-direction: row;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      .user-icon {
        padding-right: 6px;
      }
    }
  }
  .social-box {
    padding-top: 3rem;
    font-size: 1rem;
    padding-left: 20%;
    padding-bottom: 3rem;
    .form-box-input-social {
      .form-box-input-box {
        display: flex;
        flex-direction: row;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        .email-icon {
          padding-right: 6px;
        }
      }
    }
  }
  form .btn-1 {
    background-color: rgba(7, 199, 39, 0.551);
    width: 6rem;
    height: 2.5rem;
    margin-left: 23%;
    border: none;
    color: whitesmoke;
    border-radius: 6px;
    transition: ease-out 0.3s;
    text-align: center;
    outline: none;
    // border: 5px solid rgba(7, 199, 39, 0.551);
    position: relative;
    z-index: 1;
  }
  form .btn-1:before {
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgba(7, 199, 39, 0.551);
  }
  form .btn-1:hover {
    color: #fff;
  }
  form .btn-1:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
}
