.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #232a32;
  padding: 20px 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 6.86rem;
  z-index: 10;
  font-family: "Playfair Display", serif, sans-serif;
}

.nav-title {
  font-family: Sono, sans-serif;
  color: white;
  font-size: 24px !important;
  font-weight: bolder;
}

.nav-link {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  align-items: center;
}
.nav-link {
  font-family: Sono, sans-serif;
  flex-direction: row;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 700;
}
.nav-link {
  justify-self: flex-end;
  a {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 1rem;
  }
}
.nav-link {
  color: whitesmoke;
  font-family: Sono, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 15px;
}

.nav-link:hover {
  color: #17d158;
}
.nav-link:hover {
  color: #17d158;
}

.logout-btn {
  justify-self: flex-end;
  font-family: Sono, sans-serif;
  font-weight: 800;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.user-login .logout-btn {
  color: whitesmoke;
  font-family: Sono, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  // margin-right: 15px;
}

.logout-btn:hover {
  color: #17d158;
}
.logout-btn:hover {
  color: #17d158;
}
