label {
  font-size: 26px;
  font-weight: 900;
}

.forgot-pwd-container {
  font-size: 33px;
  font-weight: 1000;
  font-family: Sono, sans-serif;
  text-decoration: underline;
  gap: 2;
  height: 100vh;
}

.resetBtn {
  text-align: center;
  font-size: 14px;
}

.needAct {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.loginRtn {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.linkSpan {
  display: flex;
  justify-items: center;
}