<<<<<<< HEAD:stockoverwatch/src/components/buyerNest/StockList.styles.scss
.StockList {
  display: flex;
  margin-left: 10rem;
  margin-top: 0;
}
=======
>>>>>>> main:stockoverwatch/src/components/buyerNest/buyerNest.styles.scss
