label {
  font-size: 26px;
  font-weight: 900;
}

.login-container {
  height: 100vh;
}

.login-container {
  font-size: 33px;
  font-weight: 1000;
  font-family: Sono, sans-serif;
  text-decoration: underline;
  gap: 2;
}

.create-forgot-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 20px;
}