.body-container {
  padding: 20px;
}
.piggy-video {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  float: inline-start;
}
.rich-text {
  height: 100%;
  width: 100%;
  float: inline-end;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.join-us {
  height: 100%;
  width: 100%;
  float: inline-end;
  color: #fff;
  text-align: center;
}
.blah-blah {
  height: 100%;
  width: 100%;
  float: inline-end;
  color: #fff;
  text-align: center;
}
